@import "carousel-settings.less";
@import "../mixins.less";
@slide-width: 300px;
.carousel {
	.clearfix;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
	transition: height ease 0.5s;
	.carousel-container {
		.clearfix;
		position: relative;
		width: auto;
		height: auto;
		transition: left ease 0.5s;
		& > * {
			display: block;
			width: auto;
		}
	}

	.carousel-right-button {
		.noselect;
		display: block;
		position: absolute;
		padding: 0 20px;
		right: 30px;
		top: 30px;
		background-color: rgba(0, 200, 255, 0.7);
		font-size: 50px;
		color: #fff;
		box-shadow: 0px 0px 15px -1px rgb(0, 0, 0);
		border-radius: 29px;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.carousel-left-button {
		.noselect;
		display: block;
		position: absolute;
		padding: 0 20px;
		left: 30px;
		top: 30px;
		background-color: rgba(0, 200, 255, 0.7);
		font-size: 50px;
		color: #fff;
		box-shadow: 0px 0px 15px -1px rgb(0, 0, 0);
		border-radius: 29px;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.3s;
	}
	
	&:hover {
		.carousel-left-button,
		.carousel-right-button {
			opacity: 1;
		}
	}

	.carousel-pager {
	}
}

