@import "carousel-settings.less";
@import "../mixins.less";
@slide-width: 300px;
.carousel-slider {
	.clearfix;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
	transition: height ease 0.5s;
	.carousel-slider-container {
		.clearfix;
		position: relative;
		width: auto;
		height: auto;
		transition: left ease 0.5s;
		& > * {
			display: block;
			width: auto;
		}
	}
}

.carousel {
	.carousel-body {
		display: table-row;
		.carousel-sizer {
			display: table-cell;
			width: 100%;
			padding: 0;
		}
		position: relative;
		.carousel-right-button,
		.carousel-left-button {
			.noselect;
			display: table-cell;
			width: 0px;
			padding: 20px;
			vertical-align: middle;
			background-color: rgba(200, 200, 200, 0.5);
			font-size: 50px;
			color: #fff;
			//box-shadow: 0px 0px 10px -1px rgb(0, 0, 0);
			//border-radius: 29px;
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.3s;
			&:hover {
				background-color: rgba(200, 200, 200, 0.7);
			}
	
			&:active {
				background-color: rgba(200, 200, 200, 0.9);
			}
		}
	}

	.carousel-pager {
		.clearfix;
		.noselect;
		display: block;
		clear: both;
		width: 100%;
		opacity: 0;
		transition: opacity 0.3s;
		text-align: center;
		& > * {
			display: inline-block;
			padding: 0;
			margin: 5px;
			height: 15px;
			width: 15px;
			background-color: rgba(0, 200, 255, 0.7);
			box-shadow: 0px 0px 10px -1px rgb(0, 0, 0);
			border-radius: 7px;
			transition: background-color 0.5s;
			cursor: pointer;
			&.carousel-pager-active {
				background-color: #fff;
			}
		}
	}

	&:hover {
		.carousel-left-button,
		.carousel-right-button,
		.carousel-pager {
			opacity: 1;
		}
	}
}

