@import "upload-settings.less";
.upload {
	.clearfix;
	padding: 0;
	text-align: center;
	.drag-and-drop-zone {
		min-height: 100px;
		line-height: 100px;
		border: 1px solid @input-default-border-color;
		&.drag-enter {
			background-color: @input-default-background-color;
		}
	}
}

