@import "../settings.less";

@collapsible-border-radius: @input-border-radius;
@collapsible-box-shadow: @box-shadow-height-0;

@collapsible-header-background-color: @input-default-background-color;
@collapsible-header-color: @input-default-color;
@collapsible-header-padding: @input-padding;
@collapsible-header-font-weight: bold;
@collapsible-header-font-size: normal;

@collapsible-content-padding: @input-padding;