/* CSS crunched with Crunch - http://crunchapp.net/ */
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container,
.container-fluid {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.container:after,
.container-fluid:after {
  display: table;
  content: '';
  clear: both;
}
.row {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.row:after {
  display: table;
  content: '';
  clear: both;
}
.container-fluid .row {
  margin: 0px 0px 0px 0px;
}
.container {
  width: 960px;
}
.container .span1 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 80px;
}
.container .span2 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 160px;
}
.container .span3 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 240px;
}
.container .span4 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 320px;
}
.container .span5 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 400px;
}
.container .span6 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 480px;
}
.container .span7 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 560px;
}
.container .span8 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 640px;
}
.container .span9 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 720px;
}
.container .span10 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 800px;
}
.container .span11 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 880px;
}
.container .span12 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 960px;
}
.container .offset1 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 80px;
}
.container .offset2 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 160px;
}
.container .offset3 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 240px;
}
.container .offset4 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 320px;
}
.container .offset5 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 400px;
}
.container .offset6 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 480px;
}
.container .offset7 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 560px;
}
.container .offset8 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 640px;
}
.container .offset9 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 720px;
}
.container .offset10 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 800px;
}
.container .offset11 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 880px;
}
.container .offset12 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 960px;
}
.container-fluid {
  width: 100%;
}
.container-fluid .span1 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 8.33333333%;
}
.container-fluid .span1 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 6;
}
.container-fluid .span2 {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 12;
}
.container-fluid .offset1 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 8.33333333%;
}
.container-fluid .offset1 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 6;
}
.container-fluid .offset2 {
  display: block;
  float: left;
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 12;
}
/* Expanded ----------- */
/* Stacked ----------- */
@media only screen and (max-width: 767px) {
  .container {
    width: auto;
  }
  .container .span1,
  .container .span2,
  .container .span3,
  .container .span4,
  .container .span5,
  .container .span6,
  .container .span7,
  .container .span8,
  .container .span9,
  .container .span10,
  .container .span11,
  .container .span12,
  .container-fluid .span1,
  .container-fluid .span2,
  .container-fluid .span3,
  .container-fluid .span4,
  .container-fluid .span5,
  .container-fluid .span6,
  .container-fluid .span7,
  .container-fluid .span8,
  .container-fluid .span9,
  .container-fluid .span10,
  .container-fluid .span11,
  .container-fluid .span12 {
    float: none;
    width: auto;
  }
  .container .offset1,
  .container .offset2,
  .container .offset3,
  .container .offset4,
  .container .offset5,
  .container .offset6,
  .container .offset7,
  .container .offset8,
  .container .offset9,
  .container .offset10,
  .container .offset11,
  .container .offset12,
  .container-fluid .offset1,
  .container-fluid .offset2,
  .container-fluid .offset3,
  .container-fluid .offset4,
  .container-fluid .offset5,
  .container-fluid .offset6,
  .container-fluid .offset7,
  .container-fluid .offset8,
  .container-fluid .offset9,
  .container-fluid .offset10,
  .container-fluid .offset11,
  .container-fluid .offset12 {
    margin: 0px;
  }
}
/* Tablets ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .container .span1 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 64px;
  }
  .container .span2 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 128px;
  }
  .container .span3 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 192px;
  }
  .container .span4 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 256px;
  }
  .container .span5 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 320px;
  }
  .container .span6 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 384px;
  }
  .container .span7 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 448px;
  }
  .container .span8 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 512px;
  }
  .container .span9 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 576px;
  }
  .container .span10 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 640px;
  }
  .container .span11 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 704px;
  }
  .container .span12 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 768px;
  }
  .container .offset1 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 64px;
  }
  .container .offset2 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 128px;
  }
  .container .offset3 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 192px;
  }
  .container .offset4 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 256px;
  }
  .container .offset5 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 320px;
  }
  .container .offset6 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 384px;
  }
  .container .offset7 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 448px;
  }
  .container .offset8 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 512px;
  }
  .container .offset9 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 576px;
  }
  .container .offset10 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 640px;
  }
  .container .offset11 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 704px;
  }
  .container .offset12 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 768px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 1224px;
  }
  .container .span1 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 102px;
  }
  .container .span2 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 204px;
  }
  .container .span3 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 306px;
  }
  .container .span4 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 408px;
  }
  .container .span5 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 510px;
  }
  .container .span6 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 612px;
  }
  .container .span7 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 714px;
  }
  .container .span8 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 816px;
  }
  .container .span9 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 918px;
  }
  .container .span10 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1020px;
  }
  .container .span11 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1122px;
  }
  .container .span12 {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1224px;
  }
  .container .offset1 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 102px;
  }
  .container .offset2 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 204px;
  }
  .container .offset3 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 306px;
  }
  .container .offset4 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 408px;
  }
  .container .offset5 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 510px;
  }
  .container .offset6 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 612px;
  }
  .container .offset7 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 714px;
  }
  .container .offset8 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 816px;
  }
  .container .offset9 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 918px;
  }
  .container .offset10 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 1020px;
  }
  .container .offset11 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 1122px;
  }
  .container .offset12 {
    display: block;
    float: left;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 1224px;
  }
}
