@import "settings.less";
@import "mixins.less";

/* LESS Style */
.focus() {
    &:focus {
        outline: none;
        border-color: @input-border-focus;
        box-shadow: @input-focus-box-shadow;
    }
}

.focus-tight() {
    &:focus {
        outline: none;
        background-color: @input-active;
        border-color: @input-border;
        box-shadow: inherit;
    }
}

.button {
    .noselect;
    display: inline-block;
    margin: @input-margin;
    padding: @input-padding;
    border: @input-border-width solid @input-border;
    .border-radius(@input-border-radius);
    color: @input-text-default;
    background-color: @input-default;
    &:hover {
        color: @input-text-hover;
        background-color: @input-hover;
    }
    &:active {
        color: @input-text-active;
        background-color: @input-active;
    }
    .focus();
}

.button-group {
    display: inline-block;
    margin: @input-margin;
    padding: 0px;
    .clearfix;
    & > .panel-iterator {
        display: block;
        .pull-left;
        margin:0px;
        & > .button {
            display: block;
            .pull-left;
            margin:0px;
            border-right-width: 0px;
            .border-radius(0px);
            .focus-tight();
        }
        &:first-child > .button {
            .border-top-left-radius(@input-border-radius);
            .border-bottom-left-radius(@input-border-radius);
        }
        &:last-child > .button {
            border-right-width: @input-border-width;
            .border-top-right-radius(@input-border-radius);
            .border-bottom-right-radius(@input-border-radius);
        }
    }
    & > .button {
        display: block;
        .pull-left;
        margin:0px;
        border-right-width: 0px;
        .border-radius(0px);
        .focus-tight();
        &:first-child {
            .border-top-left-radius(@input-border-radius);
            .border-bottom-left-radius(@input-border-radius);
        }
        &:last-child {
            border-right-width: @input-border-width;
            .border-top-right-radius(@input-border-radius);
            .border-bottom-right-radius(@input-border-radius);
        }
    }
}

.text,
.password {
    .focus();
    margin: @input-margin;
    padding: @input-padding;
    .border-radius(@input-border-radius);
    border: @input-border-width solid @input-border;
    font-family: Arial;
}

.textarea {
    .text;
}

.label {
    font-weight: bold;
}

.fieldset {
    .border-radius(@input-border-radius);
    border: @input-border-width solid @input-border;
}

/* Semantic Mapper Style */
button:extend(.button all) {}
input[type="button"]:extend(.button all) {}

input[type="text"] {
    .text;
}

input[type="password"] {
    .text;
}

textarea {
    .textarea;
}

label {
    .label;
}

fieldset {
    .fieldset;
}