@import "settings.less";

.menu-fixed-top {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    background-color: @input-default;
    @media only screen and (max-width : (@size0 - 1)) {
        position: absolute;
    }
}