@input-default: #ddd;
@input-hover: #eee;
@input-active: #ccc;
@input-border: #aaa;
@input-text-default: #000;
@input-text-hover: #000;
@input-text-active: #000;

@background: #fff;
@tab-background: #fff;