@input-padding: 10px;
@input-margin: 2px;
@input-border-width: 1px;
@input-border-radius: 5px;

@input-default-background-color: #ddd;
@input-default-color: #000;
@input-default-border-color: #aaa;

@input-primary-background-color: #00d;
@input-primary-color: #fff;
@input-primary-border-color: #00a;

@input-danger-background-color: #d00;
@input-danger-color: #fff;
@input-danger-border-color: #a00;

@darker: 10%;
@lighter: 10%;

@input-default-border-color-focus: #777;

@input-focus-box-shadow: 0px 0px 6px 0px #003;
@input-reverse: #fff;
@input-reverse-background: #aaa;

@background: #fff;
@tab-background: #fff;

@size0: 768px;
@size1: 992px;
@size2: 1200px;