/* CSS crunched with Crunch - http://crunchapp.net/ */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* LESS Style */
.button,
button,
input[type="button"],
.build-ui-form-Button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: #dddddd;
}
.button:hover,
button:hover,
input[type="button"]:hover,
.build-ui-form-Button:hover {
  color: #000000;
  background-color: #eeeeee;
}
.button:active,
button:active,
input[type="button"]:active,
.build-ui-form-Button:active {
  color: #000000;
  background-color: #cccccc;
}
.button:focus,
button:focus,
input[type="button"]:focus,
.build-ui-form-Button:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.submit,
button[type="submit"],
input[type="submit"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #dddddd;
  color: #000000;
  background-color: #c4c4c4;
}
.submit:hover,
button[type="submit"]:hover,
input[type="submit"]:hover {
  color: #000000;
  background-color: #eeeeee;
}
.submit:active,
button[type="submit"]:active,
input[type="submit"]:active {
  color: #000000;
  background-color: #cccccc;
}
.submit:focus,
button[type="submit"]:focus,
input[type="submit"]:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.button-group {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  display: block;
  zoom: 1;
}
.button-group:after {
  display: table;
  content: '';
  clear: both;
}
.button-group > * {
  display: block;
  float: left;
  margin: 0px;
  border-right-width: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.button-group > *:focus {
  outline: none;
  background-color: #cccccc;
  border-color: #aaaaaa;
  box-shadow: inherit;
}
.button-group > *:first-child {
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.button-group > *:last-child {
  border-right-width: 1px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.text,
.password,
.textarea,
input[type="text"],
input[type="password"],
textarea {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
.text:focus,
.password:focus,
.textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.label,
label {
  font-weight: bold;
}
.fieldset,
fieldset {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.application-menu-fixed-top {
  margin-top: 50px !important;
}
@media only screen and (max-width: 767px) {
  .application-menu-fixed-top {
    margin-top: 0px !important;
  }
}
.menu-widget {
  zoom: 1;
  display: block;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #aaaaaa;
  list-style-type: none;
  z-index: 1000;
}
.menu-widget:after {
  display: table;
  content: '';
  clear: both;
}
.menu-widget.menu-fixed-top {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
.menu-widget.menu-fixed-top .expand-button {
  display: none;
}
@media only screen and (max-width: 767px) {
  .menu-widget.menu-fixed-top {
    position: relative;
    overflow: hidden;
  }
  .menu-widget.menu-fixed-top.expandable-menu-widget-expand {
    height: auto;
  }
  .menu-widget.menu-fixed-top .pull-right {
    float: none;
  }
  .menu-widget.menu-fixed-top .expand-button {
    display: inline-block;
  }
}
.menu-widget li {
  float: left;
  display: block;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .menu-widget li {
    width: 100%;
  }
}
.menu-widget li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.menu-widget li a:hover {
  background-color: #919191;
  color: #e6e6e6;
}
.menu-widget li a.active-menu {
  background-color: #777777;
  color: #cccccc;
}
.menu-widget li a.active-menu:hover {
  background-color: #777777;
  color: #cccccc;
}
@media only screen and (max-width: 767px) {
  .menu-widget li a {
    width: 100%;
  }
}
.build-ui-tab-TabContainer {
  margin: .67em 0;
}
.build-ui-tab-TabContainer > ul {
  display: block;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.build-ui-tab-TabContainer > ul:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-tab-TabContainer > ul > li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  top: 1px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  background-color: #dddddd;
}
.build-ui-tab-TabContainer > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.build-ui-tab-TabContainer > ul > li:hover {
  background-color: #eeeeee;
}
.build-ui-tab-TabContainer > ul > li:active {
  background-color: #cccccc;
}
.build-ui-tab-TabContainer > ul > li.tab-active {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  z-index: 1;
}
.build-ui-tab-TabContainer > div {
  display: block;
  position: relative;
  margin: 0px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.spinner-full-page {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  background: url('../img/spinner0.gif') center center no-repeat;
}
.panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
.panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-Form {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.build-ui-form-Form:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-form-Form {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .build-ui-form-Form {
    width: 753px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .build-ui-form-Form {
    width: 977px;
  }
}
@media only screen and (min-width: 1200px) {
  .build-ui-form-Form {
    width: 1185px;
  }
}
.build-ui-form-Form > .panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
.build-ui-form-Form > .panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.menu-widget .panel-iterator {
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .menu-widget .panel-iterator {
    display: block;
    width: 100%;
    clear: both;
  }
}
.menu-widget .form-control-iterator-label {
  display: none;
  float: none;
  width: auto;
  padding: 15px 5px 15px 15px;
  margin: 0;
}
.menu-widget .form-control-iterator-label:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .menu-widget .form-control-iterator-label {
    display: block;
  }
}
.menu-widget .form-control-iterator-control {
  display: inline-block;
  float: none;
  width: auto;
  padding: 4px;
  margin: 0;
}
.menu-widget .form-control-iterator-control:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .menu-widget .form-control-iterator-control {
    display: block;
  }
}
.menu-widget .expand-button {
  float: right;
  padding: 10px 15px 10px 15px;
  margin: 6px;
}
.build-ui-form-FormControl {
  display: block;
  zoom: 1;
}
.build-ui-form-FormControl:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-FormControl > .form-control-iterator-label {
  zoom: 1;
  display: block;
  float: left;
  margin: 0px;
  width: 20%;
  margin: 0px 0px 0px 20%;
  padding: 10px 20px 10px 20px;
}
.build-ui-form-FormControl > .form-control-iterator-label:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-form-FormControl > .form-control-iterator-label {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .build-ui-form-FormControl > .form-control-iterator-label {
    margin: 0px 0px 0px 0px;
  }
}
.build-ui-form-FormControl > .form-control-iterator-control {
  zoom: 1;
  display: block;
  float: left;
  margin: 0px;
  width: 40%;
}
.build-ui-form-FormControl > .form-control-iterator-control:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-form-FormControl > .form-control-iterator-control {
    width: 100%;
  }
}
.build-ui-form-ButtonGroup {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  display: block;
  zoom: 1;
}
.build-ui-form-ButtonGroup:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-ButtonGroup > * {
  display: block;
  float: left;
  margin: 0px;
  border-right-width: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.build-ui-form-ButtonGroup > *:focus {
  outline: none;
  background-color: #cccccc;
  border-color: #aaaaaa;
  box-shadow: inherit;
}
.build-ui-form-ButtonGroup > *:first-child {
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.build-ui-form-ButtonGroup > *:last-child {
  border-right-width: 1px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.build-ui-Application {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.build-ui-Application:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-Application {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .build-ui-Application {
    width: 753px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .build-ui-Application {
    width: 977px;
  }
}
@media only screen and (min-width: 1200px) {
  .build-ui-Application {
    width: 1185px;
  }
}
.build-ui-Application > .panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
.build-ui-Application > .panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.demo-inheritance-Application {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.demo-inheritance-Application:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .demo-inheritance-Application {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .demo-inheritance-Application {
    width: 753px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .demo-inheritance-Application {
    width: 977px;
  }
}
@media only screen and (min-width: 1200px) {
  .demo-inheritance-Application {
    width: 1185px;
  }
}
.demo-inheritance-Application > .panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
.demo-inheritance-Application > .panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.build-widget-menu-MenuWidget {
  zoom: 1;
  display: block;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #aaaaaa;
  list-style-type: none;
  z-index: 1000;
}
.build-widget-menu-MenuWidget:after {
  display: table;
  content: '';
  clear: both;
}
.build-widget-menu-MenuWidget.menu-fixed-top {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
.build-widget-menu-MenuWidget.menu-fixed-top .expand-button {
  display: none;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget.menu-fixed-top {
    position: relative;
    overflow: hidden;
  }
  .build-widget-menu-MenuWidget.menu-fixed-top.expandable-menu-widget-expand {
    height: auto;
  }
  .build-widget-menu-MenuWidget.menu-fixed-top .pull-right {
    float: none;
  }
  .build-widget-menu-MenuWidget.menu-fixed-top .expand-button {
    display: inline-block;
  }
}
.build-widget-menu-MenuWidget li {
  float: left;
  display: block;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget li {
    width: 100%;
  }
}
.build-widget-menu-MenuWidget li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.build-widget-menu-MenuWidget li a:hover {
  background-color: #919191;
  color: #e6e6e6;
}
.build-widget-menu-MenuWidget li a.active-menu {
  background-color: #777777;
  color: #cccccc;
}
.build-widget-menu-MenuWidget li a.active-menu:hover {
  background-color: #777777;
  color: #cccccc;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget li a {
    width: 100%;
  }
}
.build-widget-menu-MenuWidget .panel-iterator {
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget .panel-iterator {
    display: block;
    width: 100%;
    clear: both;
  }
}
.build-widget-menu-MenuWidget .form-control-iterator-label {
  display: none;
  float: none;
  width: auto;
  padding: 15px 5px 15px 15px;
  margin: 0;
}
.build-widget-menu-MenuWidget .form-control-iterator-label:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget .form-control-iterator-label {
    display: block;
  }
}
.build-widget-menu-MenuWidget .form-control-iterator-control {
  display: inline-block;
  float: none;
  width: auto;
  padding: 4px;
  margin: 0;
}
.build-widget-menu-MenuWidget .form-control-iterator-control:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-MenuWidget .form-control-iterator-control {
    display: block;
  }
}
.build-widget-menu-MenuWidget .expand-button {
  float: right;
  padding: 10px 15px 10px 15px;
  margin: 6px;
}
.build-widget-menu-ExpandableMenuWidget {
  zoom: 1;
  display: block;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #aaaaaa;
  list-style-type: none;
  z-index: 1000;
}
.build-widget-menu-ExpandableMenuWidget:after {
  display: table;
  content: '';
  clear: both;
}
.build-widget-menu-ExpandableMenuWidget.menu-fixed-top {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
.build-widget-menu-ExpandableMenuWidget.menu-fixed-top .expand-button {
  display: none;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget.menu-fixed-top {
    position: relative;
    overflow: hidden;
  }
  .build-widget-menu-ExpandableMenuWidget.menu-fixed-top.expandable-menu-widget-expand {
    height: auto;
  }
  .build-widget-menu-ExpandableMenuWidget.menu-fixed-top .pull-right {
    float: none;
  }
  .build-widget-menu-ExpandableMenuWidget.menu-fixed-top .expand-button {
    display: inline-block;
  }
}
.build-widget-menu-ExpandableMenuWidget li {
  float: left;
  display: block;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget li {
    width: 100%;
  }
}
.build-widget-menu-ExpandableMenuWidget li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.build-widget-menu-ExpandableMenuWidget li a:hover {
  background-color: #919191;
  color: #e6e6e6;
}
.build-widget-menu-ExpandableMenuWidget li a.active-menu {
  background-color: #777777;
  color: #cccccc;
}
.build-widget-menu-ExpandableMenuWidget li a.active-menu:hover {
  background-color: #777777;
  color: #cccccc;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget li a {
    width: 100%;
  }
}
.build-widget-menu-ExpandableMenuWidget .panel-iterator {
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget .panel-iterator {
    display: block;
    width: 100%;
    clear: both;
  }
}
.build-widget-menu-ExpandableMenuWidget .form-control-iterator-label {
  display: none;
  float: none;
  width: auto;
  padding: 15px 5px 15px 15px;
  margin: 0;
}
.build-widget-menu-ExpandableMenuWidget .form-control-iterator-label:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget .form-control-iterator-label {
    display: block;
  }
}
.build-widget-menu-ExpandableMenuWidget .form-control-iterator-control {
  display: inline-block;
  float: none;
  width: auto;
  padding: 4px;
  margin: 0;
}
.build-widget-menu-ExpandableMenuWidget .form-control-iterator-control:empty {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .build-widget-menu-ExpandableMenuWidget .form-control-iterator-control {
    display: block;
  }
}
.build-widget-menu-ExpandableMenuWidget .expand-button {
  float: right;
  padding: 10px 15px 10px 15px;
  margin: 6px;
}
