/* CSS crunched with Crunch - http://crunchapp.net/ */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* LESS Style */
.button,
button,
input[type="button"],
.build-ui-form-Button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: #dddddd;
}
.button:hover,
button:hover,
input[type="button"]:hover,
.build-ui-form-Button:hover {
  color: #000000;
  background-color: #eeeeee;
}
.button:active,
button:active,
input[type="button"]:active,
.build-ui-form-Button:active {
  color: #000000;
  background-color: #cccccc;
}
.button:focus,
button:focus,
input[type="button"]:focus,
.build-ui-form-Button:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.button-group {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  display: block;
  zoom: 1;
}
.button-group:after {
  display: table;
  content: '';
  clear: both;
}
.button-group > * {
  display: block;
  float: left;
  margin: 0px;
  border-right-width: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.button-group > *:focus {
  outline: none;
  background-color: #cccccc;
  border-color: #aaaaaa;
  box-shadow: inherit;
}
.button-group > *:first-child {
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.button-group > *:last-child {
  border-right-width: 1px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.text,
.password {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
.text:focus,
.password:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.textarea {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
.textarea:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
.label {
  font-weight: bold;
}
.fieldset {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
/* Semantic Mapper Style */
input[type="text"] {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
input[type="text"]:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
input[type="password"] {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
input[type="password"]:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
textarea {
  margin: 2px;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-family: Arial;
}
textarea:focus {
  outline: none;
  border-color: #777777;
  box-shadow: 0px 0px 6px 0px #000033;
}
label {
  font-weight: bold;
}
fieldset {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.build-ui-tab-TabContainer {
  margin: .67em 0;
}
.build-ui-tab-TabContainer > ul {
  display: block;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #aaaaaa;
}
.build-ui-tab-TabContainer > ul:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-tab-TabContainer > ul > li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  top: 1px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  background-color: #dddddd;
}
.build-ui-tab-TabContainer > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.build-ui-tab-TabContainer > ul > li:hover {
  background-color: #eeeeee;
}
.build-ui-tab-TabContainer > ul > li:active {
  background-color: #cccccc;
}
.build-ui-tab-TabContainer > ul > li.tab-active {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
.build-ui-tab-TabContainer > div {
  display: block;
  position: relative;
  margin: 0px;
  padding: 10px;
  border-top: 0px solid #ffffff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #ffffff;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.spinner-full-page {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  background: url('../img/spinner0.gif') center center no-repeat;
}
.build-ui-Application,
.demo-inheritance-Application {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.build-ui-Application:after,
.demo-inheritance-Application:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-Application,
  .demo-inheritance-Application {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .build-ui-Application,
  .demo-inheritance-Application {
    width: 753px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .build-ui-Application,
  .demo-inheritance-Application {
    width: 977px;
  }
}
@media only screen and (min-width: 1200px) {
  .build-ui-Application,
  .demo-inheritance-Application {
    width: 1185px;
  }
}
.build-ui-Application > .panel-iterator,
.demo-inheritance-Application > .panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.build-ui-Application > .panel-iterator:after,
.demo-inheritance-Application > .panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-Form {
  display: block;
  zoom: 1;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}
.build-ui-form-Form:after {
  display: table;
  content: '';
  clear: both;
}
@media only screen and (max-width: 767px) {
  .build-ui-form-Form {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .build-ui-form-Form {
    width: 753px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .build-ui-form-Form {
    width: 977px;
  }
}
@media only screen and (min-width: 1200px) {
  .build-ui-form-Form {
    width: 1185px;
  }
}
.build-ui-form-Form > .panel-iterator {
  display: block;
  zoom: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.build-ui-form-Form > .panel-iterator:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-ButtonGroup {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  display: block;
  zoom: 1;
}
.build-ui-form-ButtonGroup:after {
  display: table;
  content: '';
  clear: both;
}
.build-ui-form-ButtonGroup > * {
  display: block;
  float: left;
  margin: 0px;
  border-right-width: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.build-ui-form-ButtonGroup > *:focus {
  outline: none;
  background-color: #cccccc;
  border-color: #aaaaaa;
  box-shadow: inherit;
}
.build-ui-form-ButtonGroup > *:first-child {
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.build-ui-form-ButtonGroup > *:last-child {
  border-right-width: 1px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
