@import "../settings.less";

@range-track-color: #ccc;
@range-thumb-color: #aaf;

@range-thumb-radius: 10px;
@range-thumb-height: 20px;
@range-thumb-width: 20px;
@range-thumb-shadow-size: 0px;
@range-thumb-shadow-blur: 0px;
@range-thumb-shadow-color: #111;
@range-thumb-border-width: 0px;
@range-thumb-border-color: white;

@range-track-width: 100%;
@range-track-height: 8px;
@range-track-shadow-size: 0px;
@range-track-shadow-blur: 0px;
@range-track-shadow-color: #222;
@range-track-border-width: 0px;
@range-track-border-color: black;

@range-track-radius: 4px;
@range-contrast: 5%;